@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
    margin: 0;
}
.app {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.roulete {
    width: 100%;
    background-image: url(../public/img/132.jpeg);
    background-size: cover;
    background-position: 50% -50%;
    position: relative;
    background-attachment: fixed;
}

.banner {
    padding: 40px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* transition: all 1s linear; */
}

.banner_list {
    position: static;
    margin: 20px auto;
    transform: none;
    /* transition: all 1s linear; */
}

.banner-title {
    margin: 0 0 24px;
    color: #fff;
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
}

.banner-description {
    margin: 0 0 40px;
    font-size: 20px;
    color: #fff;
}

.randomButton{
    border: none;
    width: 300px;
    border-radius: 10px;
    display: block;
}


.recipes1 {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.recipes1_hidden {
    opacity: 0;
    transition: all 0.5s linear;
}

.recipes1_show {
    opacity: 1;
    transition: all 0.5s linear;
}

.inputSearch{
    width: 330px;
    margin-left: 130px;
}
.recipesBody {
    text-align: center;
    list-style-type:none;
   
}
.imgRecipeBody{

    height: 250px;
    width: 300px;
}
.imgRecipePage{
    width: 400px;
}
.bodyContainer{
    margin-top: 100px;
}
.img15 {
    margin: 0;
    height: 400px;
    width: 800px;
}
.pagesContainer{
    display: flex;
   align-items: center;
   flex-direction: column;
}
h1 {
    margin-bottom: 0px;
}
.bodyRecipes{
    width: 300px;
    overflow:hidden;
    border: 1px solid rgb(248, 218, 218);
    border-radius: 10px;
    position: relative;
    color: #fff
}
.buttonRandomRecipe{
    /* background-size: cover;
    background-image: url(https://image.flaticon.com/icons/png/512/120/120869.png); */
    opacity: 0.7;
    width: 120px;
    height: 20px;
    margin-top: 25px;
    margin-left: 20px;
    position: absolute;
    left: 150px;
    top: 205px;
    border: none;
    background-color: rgb(245, 178, 178);
    border-radius: 10px;
    
}
.nameRecipe{
    
    display: flex;
    flex-direction: column;
}
.buttonWindow{
    margin-left: 20px;
    width: 260px;
    height: 20px;
    border: none;
    border-radius: 10px;
    opacity: 0.7;
}
.titleButton{
    display: flex;
}
h2{
    margin-top: 0;
}
h4{
    margin-left: 15px;
}
.recipeDescription{
    padding: 10px;
}
.containerRec{
    width: 100%;
    display: flex;
   align-items: center;
   flex-direction: column;
}
.bodyImage{
    position: fixed; bottom:0; left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



.recipeSearch{
    background-color: white;
    opacity: 0.9;
}
.header{
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    z-index: +1;
    opacity: 0.9;
}